@charset "utf-8";
/* CSS Pcument */
body {
    background-image: url("../IMGs/BGoptmzd.jpg");
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    }


a {
    text-decoration: none;
    color: dimgray;
}

h1, h2, h3 {
    margin: 0;
    padding: 25px;
}

h2 {
    color: black;
    font-size: 20px;
    margin: -20px;
    margin-left: auto;
}

h3 {
    padding: 0;
    font-size: 12px;
    color: black;
}

h5 {
    float: left;
    margin-left: 630px;
    margin-top: 5px;
}

.header > div > a > h2 {
    float: right;
    position: relative;
    top: 10px;
}

blog {
    border-radius: 50px;
    float:left;
    background-color: indianred;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 93.39%;
}

blog h2 {
    color: white;
}

article h5 {
    font-size: 10px;
}

article {
    background-color: palegreen;
    border-radius: 25px;    
}

article h3 {
    float: left;
    width: 95%;
    padding: 20px;
    margin: auto;
    margin-top: -20px;
}

article h4 {
    float: left;
    width: 95%;
    height: 10px;
    background: #ccc;
    padding: 20px;
    padding-right: 25px;
    font-size: 10px;
}

.News-Banner {
    width: 100%;
}

.cart-icon {
    float: right;
    width: 50px;
    height: 50px;
}

.header {
    position: relative;
    background-color: #29ABE2;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding: 10px;
    
}

.topnav {
    width: 100%;
    line-height: 4px;
    float: left;
    background-color: antiquewhite;
    border-radius: 4px 4px 4px 4px;
}

#container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.topnav a {
    display: block;
    color: black;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.topnav ul {
    padding-left: 20px;
    float: left;
}

.topnav ul li {
    float: left;
    list-style: none;
    position: relative;
}

.topnav ul li a {
    display: block;
    font-family: fantasy;
    color: Black;
    font-size: 20px;
    padding: 24px 14px;
    text-decoration: none;
    transition: background-color 1s ease;
    border-radius: 10px;
}

.topnav ul li a:hover {
    background-color: yellow;
    border-radius: 20px;
}
.content {
    padding: 0;
}

.slider_img {
    border-radius: 25px;
    flex: 50%;
    flex-wrap: wrap;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 770px; 
    height: 267px;
    display: flex;
    background-color: deeppink;
}

.slider_img img {
    width: 75%;
}

.flex_img1 {
    margin-top: 5px;
    border-radius: 25px;
    width: 280px;
    height: 154.55px;
}

.flex_img2 {
    margin-top: 5px;
    width: 280px;
    height: 154.55px;
    border-radius: 25px;
}

.flex_img3 {
    margin-top: 5px;
    border-radius: 25px;
    resize: 50%;
    width: 280px;
    height: 154.55px;
}

.flex-container {
    display: flex;
    border-radius: 25px;
    background-color: green;
    justify-content: center;
    clear: both;
}

.flex-container > div {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    color: black;
    width: 100%;
    height: 25%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.logo {
    padding: 5px;
    float: left;
    display: block;
    }

.logo img {
    width: 198.6176px;
    height: 115.3801px;    
    }

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
}

.flex-container1 > div {
    color: white;
    width: 100%;
    height: 25%;
    margin: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
}

.flex-container1 > div > h2 {
    color: black;
    height: 25%;
    margin: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.flex-container2 {
    display: flex;
    border-radius: 25px;
    background-color: green;
    justify-content: center;
    clear: both;
    
}

.flex-container2 > div {
    color: black;
    width: 100%;
    height: 25%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    grid-gap: 30px;
}

.flex-container6 > div {
    box-shadow: 5px 10px 0 deeppink;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #ccc;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;   
}

.flex-container6 > div > h3 {
    font-size: 20px;
}

.flex-container6 > div > h4 {
    font-size: 20px;
}

.flex-flavors {
    margin-top: 10px;
    border-radius: 25px;
    width: 95%;
    height: 190.77px;
}

.flex-container3 {
    display: flex;
    background-color: palegreen;
    border-radius: 10px;
    justify-content: center;
    clear: both;
}

.flex-container3 > div {
    border-radius: 5px;
    background-color: #FEF8FB;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;   
}

.flex-container3 > div > h1 {
    background-color: #FEF8FB;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.flex-container3 > div > h2 {
    background-color: #FEF8FB;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}


.flex-container3 > div > h3 {
    background-color: #FEF8FB;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.flex-container3 > div > li {
    margin-left: 30px;
    text-align: left;
    color: black;
    margin-bottom: 10px;
}

.flex-container3 > div > div > li {
    color: black;
}

.flex-container3 > div > div > h4 {
    background-color: #FEF8FB;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.flex-container3 > div > div> h5 {
    background-color: #FEF8FB;
    color: black;
    width: 25%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.Health-label {
    margin-top: 10px;
    width: 69%;
}

.N-Banner {
    width: 100%;
    border-radius: 5px;
}

.share-icon{
    padding: 15px;
    margin-right: 15px;
    float: right;
    width: 5%;
    height: 5%;
}

.More-but {
    width: 15%;
    margin-left: 15px;
    border-radius: 50px;
}

.carousel-wrapper {
    border-radius: 5px;
    height:400px;
    position:relative;
    width:800px;
    margin:0 auto;
}

.carousel-item {
    border-radius: 10px;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    padding:25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left:-30px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) rotate(-45deg);
}

.light {
    color:white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

.FAQ-Section {
    background: powderblue;
    padding: 50px;
    border-radius: 50px;
    
}

.FAQ-Section > div > h2 {
    padding: 50px;
    font-size: 30px;    
}

.FAQ-Section > div > h3 {
    font-size: 15px;
    margin-left: 75px;
}

.FAQ-Section > div > h3 > a {
    color: white;
}

.FAQ-Section > div > h4 {
    font-size: 35px;
    justify-content: center;
    text-align: center;
    color: dimgray;
}

.footer {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: inherit;
    text-align: center;
    color: white;
    background-color: saddlebrown;
    width: 100%;
    height: 69px;
    margin-left: auto;
    margin-right: auto;   
}